@use "@carbon/layout";

//text

.textHeading {
  /* Sub-heading/sub heading */
  font-size: 42px;
}

.textSubheading {
  /* Sub-heading/sub heading */
  font-size: 20px;
}

.textCuerpoTextoGrande {
  /* Cuerpo de texto/cuerpo de texto grande */
  font-size: 24px;
}

.textCuerpoTextoMedio {
  /* Cuerpo de texto/cuerpo de texto medio */
  font-size: 16px;
}

.textCuerpoTextoPequeño {
  /* Cuerpo de texto/cuerpo de texto pequeño */
  font-size: 14px;
}

.textAyuda {
  /* Otros estilos/texto ayuda 1 */
  font-size: 12px;
}

//spacing

.spacing-01 {
  //2px
  margin-bottom: layout.$spacing-01;
}
.spacing-02 {
  //4px
  margin-bottom: layout.$spacing-02;
}
.spacing-03 {
  //8px
  margin-bottom: layout.$spacing-03;
}
.spacing-04 {
  //12px
  margin-bottom: layout.$spacing-04;
}
.spacing-05 {
  //16px
  margin-bottom: layout.$spacing-05;
}
.spacing-06 {
  //24px
  margin-bottom: layout.$spacing-06;
}
.spacing-07 {
  //32px
  margin-bottom: layout.$spacing-07;
}
.spacing-08 {
  //40px
  margin-bottom: layout.$spacing-08;
}

//specific

body {
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

.mainGrid {
  width: 100vw;
  height: 100vh;
}

.panel {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.titulo {
  padding-top: 15px;
  padding-bottom: 25px;
}

.practica {
  border: 0.5px solid #d6d6d6;
  background: #fff;
  padding: 8px;
}

//elimina el cuadro de selección del país en el mapa.
.rsm-geographies path:focus {
  outline: none;
}

//corrige un problema de visualización del tooltip en el mapa.
.__react_component_tooltip.place-top::before {
  z-index: -2 !important;
}
